/Day2TutorialConditionals/nbproject/private/
/Day2TutorialConditionals/build/
/JavaApplication7/nbproject/private/
/Day2TutorialString/nbproject/private/
/Day2TutorialString/build/
/Day2TutorialInsurance/nbproject/private/
/Day2TutorialStrings/nbproject/private/
/Day2TutorialInsuranceUI/nbproject/private/
/Day2TutorialInsuranceUI/build/