/Day2TutorialConditionals/nbproject/private/
/Day2TutorialConditionals/build/
/JavaApplication7/nbproject/private/
/Day2TutorialString/nbproject/private/
/Day2TutorialString/build/
/Day2TutorialInsurance/nbproject/private/
/Day2TutorialStrings/nbproject/private/
/Day2TutorialInsuranceUI/nbproject/private/
/Day2TutorialInsuranceUI/build/
/Day2TutorialInsurance/build/
/Day2TutorialInsurance/dist/
/Day2TutorialStrings/build/
/ExerciseLoops/nbproject/private/
/Day3TutorialObjectsAndClasses/nbproject/private/
/Day3TutorialObjectsAndClasses/build/
/ExerciseLoops/build/
/Selections/nbproject/private/
/Day4TutorialsGenericCollections/nbproject/private/
/Day4TutorialsGenericCollections/build/
/Day4StaticsTutorial/nbproject/private/
/Day4StaticsTutorial/build/
/CambridgeExercises/nbproject/private/
/CambridgeExercises/build/
/DatesAndTimes/nbproject/private/
/DatesAndTimes/build/
/JavaApplication18/nbproject/private/
/Selections/build/
/Day5TutorialTDDPrimer/nbproject/private/
/Day5TutorialTDDPrimer/build/
/Loops/nbproject/private/
/Loops/build/
/ElementalProgrammingExtras/nbproject/private/
/Week1SingleDimensionalArrays/nbproject/private/
/Week1MathematicalFunctionsCharactersAndStrings/nbproject/private/
/Week1Methods/nbproject/private/